@charset "utf-8";

/**
* =================================================================================
* INFORMATION
* ---------------------------------------------------------------------------------
* @Author : Hoseng, Ryu (hsryu@rathontech.com)
* @File Name : common.css
* @Description : Style Sheet
* @Version : 1.0
* @Create Date : 2014-09-01
* @Update Date : N/A
* @History : for 보정
* =================================================================================
*/

* {font-family: '맑은 고딕', "微软雅黑"  !important;}

/* Layout */
.main #wrapper {width:auto; margin:0 10px auto;}
/* #wrapper */
#header {height:66px !important; z-index:3;}
#container {margin-top: 14px !important;}
/* #container */
.tree_left_sh {position: relative; float:left; width:35%; min-height:500px;}
.glbalbox {width:65%; float:right; clear:none; margin-left:0;}

/* Local User */
/* .tree_left_sh */
.regionbox {float:none;}
.tree_left_sh .treebox {position: relative; top:10px; margin-left:10px; clear:both;}
/* popup */
.layer_pop .btn_pop_close_code { position: absolute; right: 20px; top: 11px;}

/* 20140826_v02 login */
.main {
    background: url("/images/skin/login/top_bg4.jpg") no-repeat center top;
}
.main #wrapper .top_section h1 { padding-top: 13px;}
/* end 20140826_v02 login */

/* Layouts */
#wrapper {min-height: 500px;}

.board_view01 { margin-bottom: 20px; border-collapse: collapse; width: 100%; border-top: 3px solid #375f92; border-bottom: 1px solid #bdc6d2;}
.board_view01 tbody tr th { padding: 3px 7px 3px 0; text-align: right; color: #333; font-size: 12px; font-weight: bold; background: #eff3f9; border-right: 1px solid #bdc6d2; vertical-align: middle;}
.board_view01 tbody tr th.valignt { vertical-align: top;}
.board_view01 tbody tr.first2 th { padding: 3px 7px 3px 0 !important;}
.board_view01 tbody tr.last th { padding: 3px 7px 3px 0 !important;}
.board_view01 tbody tr td { padding: 3px 7px !important; color: #666; font-size: 12px;}
.board_view01 tbody tr.first2 td { padding: 3px 7px !important; color: #666; font-size: 12px;}
.board_view01 tbody tr.type01 td { padding: 3px 7px !important; color: #666; font-size: 12px;}
.board_view01 tbody tr.last td { padding: 3px 7px !important; color: #666; font-size: 12px;}
.board_view01 tbody tr td .radio { vertical-align: middle; margin-top: 0; width: 13px; height: 13px;}
.board_view01 tbody tr td .checkbox { vertical-align: middle; margin-top: 0; width: 13px; height: 13px;}
.board_view01 tbody tr td .inputbox { border: 1px solid #ddd; }
.board_view01 tbody tr td .co_999 { color: #999 !important;}
.board_view01 tbody tr td select { border: 1px solid #ddd; color: #666; padding: 4px;}
.board_view01 tbody tr.firstlast th { padding-bottom: 10px !important; padding-top: 10px !important;}
.board_view01 tbody tr.firstlast td { padding-bottom: 10px !important; padding-top: 10px !important;}
.board_view01 tbody tr td input,
.board_view01 tbody tr td img,
.board_view01 tbody tr td a { vertical-align: middle;}




#userListDiv .progress { z-index: 5; background: url("/images/skin/login/bg_loadingbar.png") no-repeat left top; width: 355px; height: 255px; position: relative; top: 30%; left: 0; margin:0 auto;}
#userListDiv .progress .load_txt01 { width: 330px; text-align: center; padding: 40px 0 30px 0;}
#userListDiv .progress .load_txt02 { width: 330px; color: #5090de; font-size: 22px; text-align: center; line-height: 22px; margin-bottom: 12px;}
#userListDiv .progress .load_txt03 { width: 330px; color: #999999; line-height: 11px; font-size: 12px; text-align: center;}
#issueListDiv .progress { z-index: 5; background: url("/images/skin/login/bg_loadingbar.png") no-repeat left top; width: 355px; height: 255px; position: relative; top: 30%; left: 0; margin:0 auto;}
#issueListDiv .progress .load_txt01 { width: 330px; text-align: center; padding: 40px 0 30px 0;}
#issueListDiv .progress .load_txt02 { width: 330px; color: #5090de; font-size: 22px; text-align: center; line-height: 22px; margin-bottom: 12px;}
#issueListDiv .progress .load_txt03 { width: 330px; color: #999999; line-height: 11px; font-size: 12px; text-align: center;}

/* call jquery */
.highlight { color: #FFFFFF !important; font-weight: bold;}
/* edit Error */
/* 화면 상단 로고 1px밑으로 삐져나옴*/
.top_section img{
	margin-top:-1px;
}
.bold{ font-weight:bold;}

.sub_title{
float: left;
color: #333;
font-size: 13px;
padding-left: 15px;
font-weight:bold;
background: url("/images/skin/bullet/bullet_h2.gif") no-repeat left center;
}
.align_right{
	text-align:right;
}
/* 미분류 */
.inputbox {text-indent: 4px; padding-top: 5px !important; padding-bottom:5px !important; margin:0 auto; width: 100%; box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
.hasSearchbtn {width: 80%; margin-right: 2px; background-color: #EEE;}
.padding_top5 tr td{padding:5px 0 !important;}
.readonly {background-color: #EDEDED;}
.indent {text-indent: 4px;}
#location h3{ font-size: 20px; }
.paging a{ color:#191919; }
.deem {z-index:5;}
.deemIt { z-index: 5; top: 0; left: 0; width: 100%; height: 550px; background: #000; opacity: 0.7; filter:alpha(opacity=70);}
/*input[type="text"][readonly="readonly"] { background-color: #eee; }*/
input#USER {ime-mode:disabled;}	/** IE8에서 한글입력 제한 */

.clickable {cursor: pointer; }	
#file {right:30px; margin-top:5px; width:200px; height:30px; cursor:pointer; opacity:0.5;}